<div class="bg-white">
    <div class="max-w-2xl mx-auto pt-16 pb-24 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <h1 class="font-semibold text-2xl">Shopping Cart</h1>
        <h2 class="font-semibold text-lg">{{cart.item_count}} Items</h2>
        <form class="mt-12 lg:grid lg:grid-cols-12 lg:gap-x-12 lg:items-start xl:gap-x-16" action="/cart" method="post">
            <section aria-labelledby="cart-heading" class="lg:col-span-7">
                <h2 id="cart-heading" class="sr-only">Items in your shopping cart</h2>
                <ul role="list" class="border-t border-b border-gray-200 divide-y divide-gray-200">
                    {% for item in cart.items %}
                    <li class="flex py-6 sm:py-10">
                        <div class="flex-shrink-0">
                            <a href="{{ item.url | within: collections.all }}">
                                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}" class="w-24 h-24 rounded-md object-center object-cover sm:w-48 sm:h-48">
                            </a>
                        </div>
                        <div class="ml-4 flex-1 flex flex-col justify-between sm:ml-6">
                            <div class="relative pr-9 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:pr-0">
                                <div>
                                    <div class="flex justify-between">
                                        <h3 class="text-sm">
                                            <a class="text-lg hover:underline" href="{{ item.url }}">{{ item.product.title }}
                                            </a>
                                        </h3>
                                    </div>
                                    <div class="mt-1 flex text-sm">
                                        {%- assign properties = item.properties -%}
                                        {%- for p in properties -%}
                                        {%- unless p.last == blank -%}
                                        <span>{{ p.first }}: </span>
                                        <span>
                                            {%- if p.last contains '/uploads/' -%}
                                            <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                                            {%- else -%}
                                            {{ p.last }}
                                            {%- endif -%}
                                        </span>
                                        {%- endunless -%}
                                        {%- endfor -%}
                                    </div>
                                    <p class="mt-1 text-sm font-medium text-gray-900">{{ item.price | money }}</p>
                                    {% if item.original_line_price != item.line_price %}
                                    <p class="line-through text-sm text-blue-500">
                                        {{ item.original_line_price | money }}
                                    </p>
                                    {% endif %}
                                    <div>
                                        {% for discount in item.discounts %}
                                        <span class="text-sm text-blue-500">{{ discount.title }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="mt-4 sm:mt-0 sm:pr-9">
                                    <label for="quantity-0" class="sr-only">Quantity, Basic Tee</label>
                                    <div>
                                        <input type="text" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" class="border border-solid border-gray-300 rounded w-10" />
                                    </div>
                                    <div class="absolute top-0 right-0">
                                        <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="-m-2 p-2 inline-flex text-gray-400 hover:text-gray-500">
                                            <span class="sr-only">Remove</span>
                                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div class="pt-5 border-t flex justify-between items-center">
                    <a href="/" class="flex font-semibold text-gray-600 text-sm hover:underline">
                        <svg class="fill-current mr-2 text-gray-600 w-4" viewBox="0 0 448 512">
                            <path d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" /></svg>
                        Continue Shopping
                    </a>
                    <div>
                        <button type="submit" value="Update" value="Update Cart" class="rounded-sm text-sm text-gray-600 py-1 border border-solid border-gray-600 px-2 py-1 hover:bg-gray-600 hover:text-white">Update Cart</button>
                    </div>
                </div>
            </section>
            <!-- Order summary -->
            <section aria-labelledby="summary-heading" class="mt-16 bg-gray-50 rounded-lg px-4 py-6 sm:p-6 lg:p-8 lg:mt-0 lg:col-span-5">
                <h2 id="summary-heading" class="text-lg font-medium text-gray-900">Order summary</h2>
                <dl class="mt-6 space-y-4">
                    <div class="flex items-center justify-between">
                        <dt class="text-sm text-gray-600">
                            Subtotal
                        </dt>
                        <dd class="text-sm font-medium text-gray-900">
                            {{ cart.total_price | money }}
                        </dd>
                    </div>
                    <div class="border-t border-gray-200 pt-4 flex items-center justify-between">
                        <dt class="flex items-center text-sm text-gray-600">
                            <span>Shipping estimate</span>
                            <a href="#" class="ml-2 flex-shrink-0 text-gray-400 hover:text-gray-500">
                                <span class="sr-only">Learn more about how shipping is calculated</span>
                                <!-- Heroicon name: solid/question-mark-circle -->
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                                </svg>
                            </a>
                        </dt>
                        <dd class="text-sm font-medium text-gray-900">
                            Calculated at next step
                        </dd>
                    </div>
                    <div class="border-t border-gray-200 pt-4 flex items-center justify-between">
                        <dt class="flex text-sm text-gray-600">
                            <span>Tax estimate</span>
                            <a href="#" class="ml-2 flex-shrink-0 text-gray-400 hover:text-gray-500">
                                <span class="sr-only">Learn more about how tax is calculated</span>
                                <!-- Heroicon name: solid/question-mark-circle -->
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                                </svg>
                            </a>
                        </dt>
                        <dd class="text-sm font-medium text-gray-900">
                            Calculated at next step
                        </dd>
                    </div>
                    <div class="border-t border-gray-200 pt-4 flex items-center justify-between">
                        <dt class="text-base font-medium text-gray-900">
                            Order total
                        </dt>
                        <dd class="text-base font-medium text-gray-900">
                            {{ cart.total_price | money }}
                        </dd>
                    </div>
                </dl>
                <div class="mt-6">
                    <form action="/cart" method="post">
                        <button type="submit" name="checkout" value="Checkout" class="w-full bg-indigo-600 border border-transparent rounded-md shadow-sm py-3 px-4 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-indigo-500">Checkout</button>
                    </form>
                </div>
            </section>
        </form>
    </div>
</div>
